<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.oderik.fusionlwp"
          android:versionCode="1"
          android:versionName="1.0">
  <uses-sdk android:minSdkVersion="7"
            android:targetSdkVersion="14"/>
  <application android:label="@string/app_name"
               android:icon="@drawable/kulturkosmos_24">
    <service android:label="Fusion Countdown"
             android:name=".FusionWallpaperService"
             android:permission="android.permission.BIND_WALLPAPER">
      <intent-filter>
        <action android:name="android.service.wallpaper.WallpaperService"/>
      </intent-filter>
      <meta-data android:name="android.service.wallpaper"
                 android:resource="@xml/fusion"/>
    </service>
    <service android:name=".CountdownWidgetService" android:label="Fusion Countdown Widget"/>
    <!--
    <receiver android:name=".CountdownWidgetProvider"
              android:label="@string/label_countdownWidget">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
      </intent-filter>
      <meta-data android:name="android.appwidget.provider"
                 android:resource="@xml/countdown_widget"/>
    </receiver>
    -->
    <receiver android:name=".BannerWidgetProvider"
              android:label="@string/label_bannerWidget">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
      </intent-filter>
      <meta-data android:name="android.appwidget.provider"
                 android:resource="@xml/banner_widget"/>
    </receiver>
    <receiver android:name=".LogoWidgetProvider"
              android:label="@string/label_logoWidget">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
      </intent-filter>
      <meta-data android:name="android.appwidget.provider"
                 android:resource="@xml/logo_widget"/>
    </receiver>
    <activity android:name="MainActivity"
              android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest> 
